$pink:hsl(322, 100%, 66%);
$very-dark-cyan:hsl(192, 100%, 9%);
$very-pale-blue:hsl(207, 100%, 98%);
$font-weight-normal:400;
$font-weight-semibold:600;
$font-weight-bold: 700;
$font-family-heading:'Poppins',
sans-serif;
$font-family-body:'Open Sans',
sans-serif;
// ----------------------topbar-----------------------
.topbar-cont {
    padding: 3% 7%;
    .topbar-btn {
        border-color: $pink;
        color: $pink;
        position: absolute;
        right: 7%;
        &:hover {
            background-color: $pink;
            color: white;
        }
    }
}

.top-cont {
    padding: 2% 7%;
    .container {
        text-align: center;
        h1 {
            font-family: $font-family-heading;
            font-weight: $font-weight-bold;
            padding: 2% 0 1% 0;
            font-size: 45px;
        }
        h4 {
            font-family: $font-family-body;
            padding: 1% 20%;
            font-size: 18px;
        }
        button {
            color: white;
            background-color: $pink;
            height: 50px;
            width: 250px;
            border-radius: 25px;
            font-size: 15px;
            font-family: $font-family-body;
            font-weight: $font-weight-bold;
            margin: 2% auto;
            &:hover {
                color: $pink;
                background-color: white;
                border-color: $pink
            }
        }
        .mockup-img {
            padding: 4% 6%;
            width: 100%;
        }
    }
    .top-row {
        margin: 2% 0;
        text-align: center;
        .col-lg-6 {
            img {
                position: relative;
                right: 12%;
                margin: 1% 0;
            }
            h2 {
                font-weight: $font-weight-bold;
                font-family: $font-family-heading;
                font-size: 70px;
            }
            h5 {
                font-size: 18px;
                color: $very-dark-cyan;
                font-weight: $font-weight-normal;
                font-family: $font-family-body;
            }
        }
    }
}

.middle-cont-cyan {
    background-color: $very-pale-blue;
}

.middle-cont {
    padding: 3% 7%;
    .white-middle-row {
        .text-col {
            h2 {
                font-weight: $font-weight-bold;
                font-family: $font-family-heading;
                font-size: 35px;
                margin: 4% 0;
            }
            p {
                font-weight: $font-weight-normal;
                font-family: $font-family-body;
                font-size: 18px;
                margin: 0 5% 0 0;
            }
        }
        .img-col {
            padding: 1%;
            img {
                width: 100%;
            }
        }
    }
    .background-cyan {
        .text-col {
            h2 {
                font-weight: $font-weight-bold;
                font-family: $font-family-heading;
                font-size: 35px;
                margin: 4% 0;
            }
            p {
                font-weight: $font-weight-normal;
                font-family: $font-family-body;
                font-size: 18px;
                margin: 0 5% 0 0;
            }
        }
        .img-col {
            padding: 1%;
            img {
                width: 100%;
            }
        }
    }
}

@media screen and(max-width:789px) {
    .middle-cont {
        .background-cyan {
            margin: 5% auto;
            flex-flow: column-reverse;
        }
    }
}

.cta-cont {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    .cta-btn {
        color: white;
        background-color: $pink;
        height: 50px;
        width: 250px;
        border-radius: 25px;
        font-size: 15px;
        font-family: $font-family-body;
        font-weight: $font-weight-bold;
        margin: 2% auto;
        &:hover {
            color: $pink;
            background-color: white;
            border-color: $pink
        }
    }
    h2 {
        font-family: $font-family-heading;
        font-weight: $font-weight-bold;
        font-size: 35px;
    }
}

.footer-cont {
    background-color: $very-dark-cyan;
    padding: 5% 7%;
    .content-row {
        .col-lg-6 {
            .contact-row {
                margin: 1%;
                img {
                    margin-top: 15px;
                }
            }
            h3 {
                color: white;
                font-family: $font-family-body;
                font-weight: $font-weight-bold;
            }
            p {
                margin-top: 2%;
                color: white;
                padding-right: 30%;
                font-family: $font-family-body;
                font-weight: $font-weight-normal;
            }
            .row {
                input {
                    margin-top: 1.5%;
                }
                button {
                    color: white;
                    background-color: $pink;
                    height: 40px;
                    width: 150px;
                    font-size: 15px;
                    font-family: $font-family-body;
                    font-weight: $font-weight-bold;
                    margin: 2% auto;
                    &:hover {
                        color: $pink;
                        background-color: white;
                        border-color: $pink
                    }
                }
            }
            .contact-row {
                margin: 1rem 0 0 0;
                img {
                    margin-right: 2%;
                    height: 20px;
                    width: 20px;
                }
                ;
            }
        }
    }
    .icons-row {
        color: white;
        i {
            font-size: 25px;
            margin: 1%;
            &:hover {
                color: $pink;
            }
        }
    }
}

@media screen and (max-width:789px) {
    .footer-cont {
        .content-row {
            flex-flow: column-reverse;
        }
    }
}

.top-bg-pos {
    position: relative;
    top: 2%;
}

.bottom-bg-pos {
    position: relative;
    top: -2%;
}